{
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "rules": {
    "quotes": ["error", "single"],
    "no-underscore-dangle": 0
  }
}
