html, body {
  margin: 0;
  background-color: #6c1521;
  overflow: hidden;
}

#myZenpad {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 5px;
  height: 180px;
  background-color: #daceaf;
}

#display {
  position: absolute;
  top: 50px;
  left: 10px;
  right: 10px;
  bottom: 200px;
  padding: 10px;
  background-color: #74967b;
  box-sizing: border-box;
  border-top: 10px solid #272828;
  border-left: 10px solid #272828;
  border-right: 10px solid #272828;
  border-bottom: 50px solid #272828;
  border-radius: 5px;
}

.debugButton {
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #FFF;
}

#dispose {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #FFF;
}

#setup {
  position: absolute;
  top: 10px;
  left: 120px;
  color: #FFF;
}

