html, body {
  margin: 0;
  background-color: #000;
  overflow: hidden;
}

#dispose {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #FFF;
}

#myZenpad {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  opacity: 0.5;
}
